/* Général */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: roboto;
}

.wrapper{
    width: 1100px;
    margin: auto;
    padding: 0 10px;
}

/* Header de la page contenant le logo à gauche et le menu à droite */

header{
    height: 70px;
    background-color: #1F2937;
    
}

header h1{
    font-size: 24px;
    color: #F9FAF8;
    float: left;
    margin-top: 20px;
}

header nav{
    float: right;
    margin-top: 25px;
}

h1 #point{
    color: red;
}

ul{  
    font-size: 18px;
    list-style: none;
}

ul li{
    display: inline-block;
}

li a{
    color: #E5E7EB;
    text-decoration: none;
    margin: 0 20px;
}

/* Partie contenant la description */

#intro{
    background-color: #1F2937;
    height: 500px;
}

.textintro{
    width: 460px;
    height: 200px;
    margin-top: 100px;
    background-color: #1F2937;
    padding-top: 20px;
    float: left;
}

.imageintro{
    width: 560px;
    height: 260px;
    margin-top: 100px;
    background-color: rgb(119, 119, 119);
    float: right;
    
}

#intro h1{
    font-size: 48px;
    color: #F9FAF8;
}

#intro p{
    font-size: 18px;
    color: #E5E7EB;
}

#intro button{
    width: 100px;
    height: 30px;
    margin: 15px 0;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: 0;
}

/* Partie illustration */

#informations{
    background-color: #ffffff;
    height: 500px;
}

#informations h2{
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.illustrations{
    display: flex;
    justify-content: space-between;
}

.vignettes{
    display: inline-block;
}

.vignettes img{
    width: 170px;
    height: 170px;
    border: solid 2px #3882F6;
    border-radius: 15px;
}

.vignettes p{
    margin-top: 10px;
    width: 170px;
    text-align: center;
}

/* Partie contenant une citation avec le nom de l'auteur */

#citationText{
    background-color: #E5E7EB;
    height: 500px;
}

#citationText .wrapper{
    padding-top: 120px;
}

#citationText p{
    margin-top: 50px;
    color: rgb(117, 117, 117);
    font-size: 36px;
    font-style: italic;
}

#citationText span{
    color: #1F2937;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    float: right;
    margin: 50px 0;
    margin-right: 20px;
}

/* Partie contenant un cadre pour un call to action avec un texte et un bouton */

#callToAction{
    height: 300px;
    background-color: #ffffff;
}

.bluebox{
    margin-top: 100px;
    background-color: #3882F6;
    height: 100px;
    border-radius: 10px;
    padding: 50px 100px;
}

.callText{
    margin: 15px 0;
    color: #ffffff;
    float: left;
}

.callText h4{
    margin-top: 15px;
    
}

.callbutton button{
    margin-top: 35px;
    margin-right: 20px;
    width: 100px;
    height: 30px;
    float: right;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: solid 2px #ffffff;
}

/* Footer Partie contenant le copyright */

footer{
    background-color: #1F2937;
    height: 70px;
    padding-top: 40px;
}

footer p{
    color: #ffffff;
    text-align: center;
    font-size: 19px;
}